html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(90, 60, 30, 0.2);
}

.edit-form {
    background-color: rgba(90, 60, 30, 0.6);

    padding: 30px;
    margin-top: 30px;
}

.edit-form .widget {
    margin-bottom: 10px;
}

.edit-form label {
    display: block;
}

.centered {
    width: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
