<!DOCTYPE html>
<html lang="en">
<head>
    <title>My clothing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link href="{{ STATIC_URL }}/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Scripts -->
    <script src="{{ STATIC_URL }}js/jquery/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
