<!DOCTYPE html>
<html lang="en">
<head>
    <title>My clothing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link href="{{ STATICS_PATH }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Scripts -->
    <script src="{{ STATICS_PATH }}js/jquery/jquery-2.1.0.min.js"></script>
    <script src="{{ STATICS_PATH }}bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    {% for clothing_time in times %}
        <div class="clothing-time-container">
            <h1>{{ clothing_time.title }}</h1>
        </div>
    {% endfor %}
</body>
</html>
